Take a list of numbers : [10,0,5,-5,30,20,32]

- Retain non zero values and non negative numbers
- Compute the mean of the cleaned marks
- Find numbers from the list which are greater than the mean
- Compute the squared differences of every number from the mean

In [ ]:
lst =  [10,0,5,-5,30,20,32]

In [ ]:
cleaned_list = list(filter(lambda x:x>0,lst))
cleaned_list

[10, 5, 30, 20, 32]

In [ ]:
from functools import reduce

In [ ]:
mean = reduce((lambda x,y:x+y),cleaned_list)/len(cleaned_list)
mean

19.4

In [ ]:
list(map(lambda x:x>mean,cleaned_list))

[False, False, True, True, True]

In [ ]:
list(filter(lambda x:x>mean,cleaned_list))

[30, 20, 32]

In [ ]:
squared_differences = list(map(lambda x:round((x-mean)**2,2),cleaned_list))
print(squared_differences)

[88.36, 207.36, 112.36, 0.36, 158.76]

salaries = ['25-35L', '50-55L','10-15L','40-50L','20-30L'].
- Find the minimum and maximum salary

In [ ]:
salaries = ['25-35L', '50-55L','10-15L','40-50L','20-30L']

In [ ]:
min_salary = list(map(lambda sal:int(sal.split('-')[0]),salaries))
min_salary

[25, 50, 10, 40, 20]

In [ ]:
max_salary =  list(map(lambda salary: int(salary.split('-')[1].replace('L', '')), salaries))

In [ ]:
max_salary

[35, 55, 15, 50, 30]

### Exception Handling

In [ ]:

num1 = int(input("enter the number:"))
num2 = int(input("enter the number:"))
result = num1/num2
print("Result:",result)

enter the number:10
enter the number:0

ZeroDivisionError: division by zero

In [ ]:
try:
  num1 = float(input("enter the number:"))
  num2 = float(input("enter the number:"))
  result = num1/num2
  print("Result:",result)
except ValueError:
  print("Invalid input. Please enter a valid number")
except ZeroDivisionError:
  print("Error! Division by 0 is not allowed")
else:
  print("Operation is successful")
finally:
  print("This will always run")

enter the number:5
enter the number:5
Result: 1.0
Operation is successful
This will always run

### Classes & Objects

In [ ]:
class Car:
  def __init__(self,brand,model,year):  ### Attributes
    self.brand=brand
    self.model=model
    self.year=year
  def display_info(self):              ### methods
    print(self.brand, self.model, self.year)
c1 = Car("Honda","Civic",2023)
c1.display_info()

Honda Civic 2023

In [ ]:
class Person:
  def __init__(self,name,age):
    self.name = name
    self.age =age
  def display(self):
    print(f"Hi! I am {self.name} and I am {self.age} years")
p1 = Person("Alice",25)
p2 = Person("Bob",30)
p3 = Person("Alice",25)
print(id(p1))
print(id(p2))
print(id(p3))
p1.display()
p2.display()

134948070132432
134948070141072
134948070131856

TypeError: Person.display() takes 1 positional argument but 2 were given

In [ ]:
Q -Create a class named Student, with attributes name, age and grade and display the details

In [ ]:
O/p- Bob is studying

In [ ]:
class Student:
  def __init__(self,name,age,grade):
    self.name = name
    self. age = age
    self.grade = grade
  def display(self):
    print(f"{self.name} is studying")
student1= Student("Bob",10,"A")
student1.display()
print(student1.age)
print(student1.grade)

Bob is studying
10
A

Can we create a class without __init__?

In [ ]:
Class Attribute

In [ ]:
class Restaurant:
  menu = "Pasta"

  def get_menu(self):
    return self.menu

c1 = Restaurant()
c2 = Restaurant()

print(c1.get_menu())
print(c2.get_menu())
Restaurant.menu = "Pizza"    # modifying class attribute
print(c1.get_menu())
print(c2.get_menu())

Pasta
Pasta
Pizza
Pizza

In [ ]:
class Restaurant:
  def __init__(self,menu="Pasta"):
    self.menu = menu


  def get_menu(self):
    return self.menu

c1 = Restaurant()
c2 =Restaurant(menu="Burger")
print(c1.get_menu())
print(c2.get_menu())

Pasta
Burger

In [ ]:
class Health:
  counter = 0    # class attribute
  def __init__(self,name,age,loc):
    self.name = name
    self.age =age
    self.loc =loc
    Health.counter += 1
  def display(self):
    print('Name: ',self.name)
    print('Age: ',self.age)
    print('Location:',self.loc)
    print('No of objects:',Health.counter)

In [ ]:
o1 =Health('ALice',25,'Texas')
o1.display()

Name:  ALice
Age:  25
Location: Texas
No of objects: 1

In [ ]:
o2 =Health('Tom',25,'Texas')
o2.display()

Name:  Tom
Age:  25
Location: Texas
No of objects: 2

In [ ]:
class Student:
  count = 0
  def __init__(self,name):
    self.name = name
    Student.count += 1

s1 = Student('Alice')
s2 = Student('Tom')
s3 = Student('Harry')

print(Student.count)

3

Modify data attributes

In [ ]:
class Health:
  counter = 0    # class attribute
  def __init__(self,name,age,loc):
    self.name = name
    self.age =age
    self.loc =loc
    Health.counter += 1
  def display(self):
    print('Name: ',self.name)
    print('Age: ',self.age)
    print('Location:',self.loc)
    print('No of objects:',Health.counter)

In [ ]:
o1 =Health('ALice',25,'Texas')
o1.display()

Name:  ALice
Age:  25
Location: Texas
No of objects: 1

In [ ]:
o1.age=30
o1.display()

Name:  ALice
Age:  30
Location: Texas
No of objects: 1

Access Specifiers

In [ ]:
### Public : these attributes and methods are accessible anywhere in the program

In [ ]:
class Person:
  def __init__(self,name,age):
    self.name = name
    self.age =age
  def display(self):
    print(f"Name:{self.name} Age:{self.age}")

p =Person("Raman",25)
print(p.name)
print(p.age)
p.display()

Raman
25
Name:Raman Age:25

### Protected Specifiers - Attributes and methods are accessible within the class and subclass

In [ ]:
class Animal:
  def __init__(self,name,species):
    self._name = name
    self._species = species
  def _display(self):
    print(f"Name:{self._name}, Species:{self._species}")
a = Animal("Lion","Wild")
print(a._name)
print(a._species)
a._display()

Lion
Wild
Name:Lion, Species:Wild

Private - Attributes and methods cannot be accessed outside the class

In [ ]:
class Bankaccount:
  def __init__(self,account_holder,balance):
    self.account_holder=account_holder
    self.__balance = balance
  def __secret_info(self):
    print("This is a secret method")
  def get_balance(self):
    return self.__balance
acc = Bankaccount("Alice",1000)
print(acc.account_holder)
print(acc.__balance)
acc.__secret_info()

Alice

AttributeError: 'Bankaccount' object has no attribute '__balance'