Encapsulation

In [ ]:
class student:
  counter = 0
  def __init__(self,name,fathername,age):
    self.name = name
    self.fathername = fathername
    self.age = age
    student.counter =+ 1
    self._rollno = 'A2025/{}/{:003}'.format(self.name[:3].upper(),student.counter) # protected
    self.__fileno = 'A2025/{}/{:003}'.format(self.name.upper(),student.counter) # private
  def print_info(self):
    print('Name :',self.name)
    print("Father's Name:", self.fathername)
    print('Age:', self.age)
    print("Roll No :", self._rollno)
    print("File No :",self.__fileno)

In [ ]:
st1 = student('Tom Davis','Harry Davis',10)

In [ ]:
st1.print_info()

Name : Tom Davis
Father's Name: Harry Davis
Age: 10
Roll No : A2025/TOM/001
File No : A2025/TOM DAVIS/001

In [ ]:
class science(student):
  def display(self):
    print('Name :',self.name)
    print("Father's Name:", self.fathername)
    print('Age:', self.age)
    print("Roll No :", self._rollno)
    print("File No :",self.__fileno)

In [ ]:
st2 = science('John David','Malcom David',15)

In [ ]:
st2.print_info()

Name : John David
Father's Name: Malcom David
Age: 15
Roll No : A2025/JOH/001
File No : A2025/JOHN DAVID/001

In [ ]:
st2.display()

Name : John David
Father's Name: Malcom David
Age: 15
Roll No : A2025/JOH/001

AttributeError: 'science' object has no attribute '_science__fileno'

In [ ]:
class Person:
  def __init__(self,name,age):
    self.name =name
    self.__age =age

  def get_age(self):
    return self.__age

  def set_age(self,new_age):
    if new_age>0:
      self.__age = new_age
    else:
      print("age must be positive")
p = Person('Alice',30)

In [ ]:
print(p.name)

Alice

In [ ]:
print(p.__age)

AttributeError: 'Person' object has no attribute '__age'

In [ ]:
p.set_age(25)

In [ ]:
print(p.get_age())

25

Inheritance- It allows one class to inherit the attributes and methods of another classs

Single Inheritance- A child class inherits from a single parent class

In [ ]:
class Animal:
  def speak(self):
    print("Animals makes sound")
class Dog(Animal):
  def bark(self):
    print("Dog barks")
d = Dog()
d.speak()
d.bark()

Animals makes sound
Dog barks

In [ ]:
class Person:
  def __init__(self,name,age):
    self.name = name
    self.age = age
  def display(self):
    print(f"Name:{self.name} and Age:{self.age}")

class Student(Person):
  def __init__(self,name,age,student_id):
    super().__init__(name,age)
    self.student_id = student_id

  def display_info(self):
    print(f"Student ID:{self.student_id}")

s1 = Student("Alice",20,"S123")
s1.display()
s1.display_info()

Name:Alice and Age:20
Student ID:S123

Multilevel Inheritance

In [ ]:
class Person:
  def __init__(self,name,age):
    self.name = name
    self.age = age
  def display(self):
    print(f"Name:{self.name} and Age:{self.age}")

class Employees(Person):
  def __init__(self,name,age,salary):
    super().__init__(name,age)
    self.salary = salary

  def display_info(self):
    print(f"Salary:${self.salary}")

class Manager(Employees):
  def __init__(self,name,age,salary,department):
    super().__init__(name,age,salary)
    self.department = department

  def display_inform(self):
    print(f"Department:{self.department}")

s1 = Manager("John",35,80000,"Research")
s1.display()
s1.display_info()
s1.display_inform()

Name:John and Age:35
Salary:$80000
Department:Research

Multiple Inheritance

In [ ]:
class Person:
  def __init__(self,name,age):
    self.name = name
    self.age = age
  def display(self):
    print(f"Name:{self.name} and Age:{self.age}")

class Job_Role:
  def __init__(self,role,salary):
    self.role = role
    self.salary = salary
  def display_role(self):
    print(f"Role:{self.role} and Salary:${self.salary}")

class Employees(Person,Job_Role):
  def __init__(self,name,age,role,salary,emp_id):
    super().__init__(name,age)
    Job_Role.__init__(self,role,salary)
    self.emp_id=emp_id

  def display_employees(self):
    print(f"Employee ID:{self.emp_id}")
    self.display()
    self.display_role()

emp1 = Employees("Rahul",30,"Software Engineer",90000,"E102")
emp1.display_employees()

Employee ID:E102
Name:Rahul and Age:30
Role:Software Engineer and Salary:$90000

Hierarchical Inheritance

In [ ]:
class Vehicle:
  def __init__(self,brand):
    self.brand =brand
  def display(self):
    print(f"Brand:{self.brand}")

class Car(Vehicle):
  def __init__(self,brand,model):
    super().__init__(brand)
    self.model=model
  def display_car(self):
    print(f"Car Model:{self.model}")
class Bike(Vehicle):
  def __init__(self,brand,cc):
    super().__init__(brand)
    self.cc=cc
  def display_bike(self):
    print(f"Bike Engine:{self.cc} CC")

car1 = Car("Toyota","Camry")
bike1 = Bike("Yamaha",150)
car1.display()
car1.display_car()
bike1.display()
bike1.display_bike()

Brand:Toyota
Car Model:Camry
Brand:Yamaha
Bike Engine:150 CC

Polymorphism- Ability to take many form

Method Overloading - It allows a class to have multiple methods with the same name but different number or types of parameters

In [ ]:
class Math:
  def add(self,a,b=0,c=0):
    return a+b+c
obj = Math()
print(obj.add(5))
print(obj.add(5,10))
print(obj.add(5,10,15))

5
15
30

In [ ]:
class information:
  def __init__(self,name,age,gender):
    self.name = name
    self.age = age
    self.gender = gender
  def print_info(self):
    print('Name:',self.name)
    print('Age:',self.age)
    print('Gender:',self.gender)

In [ ]:
class learners:
  def __init__(self,name,age,gender,exp,qual):
    self.name = name
    self.age = age
    self.gender = gender
    self.exp = exp
    self.qual = qual
  def print_info(self):
    print('Name:',self.name)
    print('Age:',self.age)
    print('Gender:',self.gender)
    print('Experience:',self.exp)
    print('Qualification:',self.qual)

In [ ]:
obj1 = information('John',34,'M')
obj2 = learners('John',34,'M',3.5,'Graduate')

In [ ]:
obj1.print_info()

Name: John
Age: 34
Gender: M

In [ ]:
obj2.print_info()

Name: John
Age: 34
Gender: M
Experience: 3.5
Qualification: Graduate

Method Overloading

In [ ]:
x = 8; y = 15
x+y

23

In [ ]:
x = 'First'
y = 'Last'
x + y

'FirstLast'

Method Overriding

In [ ]:
class information:
  def __init__(self,name,age,gender):
    self.name = name
    self.age = age
    self.gender = gender
  def print_info(self):
    print('Name:',self.name)
    print('Age:',self.age)
    print('Gender:',self.gender)

In [ ]:
class learners(information):
  def __init__(self,name,age,gender,exp,qual):
    information.__init__(self,name,age,gender)
    self.exp = exp
    self.qual = qual
  def print_info(self):
    print('Experience:',self.exp)
    print('Qualification:',self.qual)

In [ ]:
obj = learners("John",45,'M',5,'Graduate')

In [ ]:
obj.print_info()

Experience: 5
Qualification: Graduate

Abstraction- Hides implementation details and expose only the essential functionalities

In [ ]:
from abc import ABC,abstractmethod

In [ ]:
class Vehicle(ABC):
  @abstractmethod
  def start(self):
    pass
  @abstractmethod
  def stop(self):
    pass

In [ ]:
class Car(Vehicle):
  def start(self):
    print("Car is starting with a key")
  def stop(self):
    print("Car is stopping by pressing the brake")

In [ ]:
car=Car()
car.start()
car.stop()

Car is starting with a key
Car is stopping by pressing the brake

In [ ]:
class beverage(ABC):
  @abstractmethod
  def ingredients(self):
    print('base')
  def taste(self):
    pass

In [ ]:
obj=beverage()

TypeError: Can't instantiate abstract class beverage with abstract method ingredients

In [ ]:
class mango_shake(beverage):
  def ingredients(self):
    print('Mango')
  def taste(self):
    print('Yum')

In [ ]:
obj1=mango_shake()
obj1.ingredients()
obj1.taste()

Mango
Yum