In [17]:
def greetings(name,greeting):
  print(greeting,'!',name,sep='')

In [18]:
greetings('Bob','Hi')

Hi!Bob

In [7]:
greetings('Hi','Bob') #Positional argument

Bob!Hi

In [8]:
greetings(greeting='Hi',name ='Tom') # Keyword argument

Hi!Tom

In [9]:
greetings('Tom')

TypeError: greetings() missing 1 required positional argument: 'greeting'

In [10]:
def greetings(name,greeting='Hello'): # default argument
  print(greeting,'!',name,sep='')

In [11]:
greetings('Tom')

Hello!Tom

In [12]:
greetings('Tom','Hi')

Hi!Tom

WAP using udf to check whether a number is prime or not

In [22]:
def isprime(n):
  """program for checking prime number"""
  if n<2:
    return False
  for i in range(2,n):
    if n%i==0:
      return False
  return True

In [21]:
num = int(input('Enter the number:'))
if isprime(num):
  print(f"{num} is a prime number")
else:
  print(f"{num} is not a prime number")

Enter the number:0
0 is not a prime number

In [23]:
isprime.__doc__

'program for checking prime number'

Lambda Expression
- anonymous function (does not have a name)
- its restricted to single line expression
- inline function ( does not have a explicit function call)

In [24]:
def add(a,b):
  return a+b

In [25]:
add(10,20)

30

In [26]:
(lambda a,b:a+b)(10,20)

30

In [27]:
fn = lambda x:x**2
fn(2)

4

In [28]:
st = "Bangalore"
def rev(st):
  return st[::-1]
rev(st)

'erolagnaB'

In [29]:
(lambda s:s[::-1])("Bangalore")

'erolagnaB'

- map
- filter
- reduce

map - is to apply an operation to every element of a  collection .
- function object, an operation to be performed

In [33]:
lst = [2,4,5,6,7]
m = map(lambda a:a**2,lst)
m

In [31]:
list(m)

[4, 16, 25, 36, 49]

In [34]:
lst = [7,8,9,10,11,110,120]
list(map(lambda x:x/100,lst))

[0.07, 0.08, 0.09, 0.1, 0.11, 1.1, 1.2]

Filter
- Filter is to choose the data from the collection
- Filter takes two arguments
  - Function object with the condition
  - collection

In [35]:
lst = [10,20,35,33,69]
list(filter(lambda x:x%10==0,lst))

[10, 20]

In [36]:
words = ["apple","bat","cat","banana"]
list(filter(lambda x:len(x)>4,words))

['apple', 'banana']

Reduce - to apply pairwise or an aggregate operation like sum, average, count etc
- collection
- aggregate

In [37]:
from functools import reduce

In [38]:
lst = [3,4,5,6,7,8,9,10]
total = reduce(lambda x,y:x+y,lst)

In [39]:
total

52

In [40]:
total/len(lst)

6.5

In [41]:
lst = [7,19,3,2,0,5,0,3]

In [42]:
# clean the list by removing 0
cleaned_lst = list(filter(lambda x:x!=0,lst))
cleaned_lst

[7, 19, 3, 2, 5, 3]

In [43]:
# Multiply every element of the cleaned list
prod = reduce(lambda x,y:x*y,cleaned_lst)
prod

11970

In [44]:
salaries = ['25-35L','50-55L','10-15L']

In [46]:
min_salary = list(map(lambda sal:int(sal.split('-')[0]),salaries))
min_salary

[25, 50, 10]

In [47]:
max_salary = list(map(lambda sal:int(sal.split('-')[1].replace('L','')),salaries))
max_salary

[35, 55, 15]

Classes & Objects

- Classes - blueprint or a template
- objects - real world entity

In [48]:
a = 10
print(type(a))

<class 'int'>

In [49]:
class Student:
  def __init__(self,name,roll_no,marks):
    self.name = name
    self.roll_no = roll_no
    self.marks = marks
  def display_info(self):
    print(f"Student Name: {self.name}, Roll No:{self.roll_no},Marks:{self.marks}")

In [50]:
student1 = Student("Puja",101,95)
student2 = Student("Bubbly",102,88)
student1.display_info()
student2.display_info()

Student Name: Puja, Roll No:101,Marks:95
Student Name: Bubbly, Roll No:102,Marks:88

In [52]:
class Student:
  def __init__(name,roll_no):
    name = name
    roll_no = roll_no

  def display_info():
    print(f"Student Name: {name}, Roll No:{roll_no}")
  student1 = Student("Alice",101)

TypeError: Student.__init__() missing 1 required positional argument: 'marks'

In [54]:
class Student:
  def display_info(self,name,roll_no,marks):
    print(f"Student Name: {name}, Roll No:{roll_no},Marks:{marks}")
student1 = Student()
student1.display_info("Alice",101,90)

Student Name: Alice, Roll No:101,Marks:90

In [55]:
class Student:
  def __init__(self,name,roll_no,marks):
    self.name = name
    self.roll_no = roll_no
    self.marks = marks
  def display_info(self):
    print(f"Student Name: {self.name}, Roll No:{self.roll_no},Marks:{self.marks}")
  def is_pass(self):
    if self.marks>=40:
      return "Pass"
    else:
      return "Fail"
student1 = Student("Alice",101,90)
student2 = Student("Bob",102,35)
student1.display_info()
print(student1.is_pass())
student2.display_info()
print(student2.is_pass())

Student Name: Alice, Roll No:101,Marks:90
Pass
Student Name: Bob, Roll No:102,Marks:35
Fail

Class variable

In [56]:
class Student:
  school_name ="ABC High School"
  def __init__(self,name,roll_no,marks):
    self.name = name
    self.roll_no = roll_no
    self.marks = marks
  def display_info(self):
    print(f"Student Name: {self.name}, Roll No:{self.roll_no},Marks:{self.marks},School:{Student.school_name}")
  def is_pass(self):
    if self.marks>=40:
      return "Pass"
    else:
      return "Fail"
student1 = Student("Alice",101,90)
student2 = Student("Bob",102,35)
student1.display_info()
print(student1.is_pass())
student2.display_info()
print(student2.is_pass())

Student Name: Alice, Roll No:101,Marks:90,School:ABC High School
Pass
Student Name: Bob, Roll No:102,Marks:35,School:ABC High School
Fail

In [57]:
Student.school_name ="Simplilearn Academy"
student1.display_info()
student2.display_info()

Student Name: Alice, Roll No:101,Marks:90,School:Simplilearn Academy
Student Name: Bob, Roll No:102,Marks:35,School:Simplilearn Academy

Encapsulation - concept of hiding data attributed/ restricting the access
- Public
- Protected
- Private

In [59]:
# Public
class Student:
  def __init__(self,name,roll_no):
    self.name = name
    self.roll_no = roll_no

  def display_info(self):
    print(f"Student Name: {self.name}, Roll No:{self.roll_no},")

student1 = Student("Alice",101)
print(student1.name)
student1.name = "Bob"
print(student1.name)

Alice
Bob

disadvantage -data can be modified without control, leading to unintented error

In [62]:
class Student:
  def __init__(self,name,roll_no,marks):
    self.name = name        # Public
    self._roll_no = roll_no  # Protected
    self._marks = marks
  def display_info(self):
    print(f"Student Name: {self.name}, Roll No:{self._roll_no},Marks:{self._marks}")

student1 = Student("Alice",101,90)
print(student1._roll_no)
student1._marks=95
print(student1._marks)

101
95

In [63]:
class Student:
  def __init__(self,name,roll_no,marks):
    self.name = name        # Public
    self.__roll_no = roll_no  # Private
    self.__marks = marks     #Private
  def display_info(self):
    print(f"Student Name: {self.name}, Roll No:{self.__roll_no},Marks:{self.__marks}")

student1 = Student("Alice",101,90)
print(student1.__roll_no)
#student1._marks=95
#print(student1._marks)

AttributeError: 'Student' object has no attribute '__roll_no'

Inheritance

In [64]:
class Student:
  def __init__(self,name,roll_no,marks):
    self.name = name
    self.roll_no = roll_no
    self.marks = marks
  def display_info(self):
    print(f"Student Name: {self.name}, Roll No:{self.roll_no},Marks:{self.marks}")

Parent Class (Base class)

In [65]:
class User:
  def __init__(self,name,email):
    self.name = name
    self.email = email
  def display_info(self):
    print(f"Name:{self.name}, Email:{self.email}")

In [66]:
class Student(User):
  def __init__(self,name,email,roll_no):
    super().__init__(name,email)
    self.roll_no = roll_no
  def display_student_info(self):
    print(f"Roll No:{self.roll_no}")
    super().display_info()

In [68]:
user1 = User("John","john@abc.com")
user1.display_info()
student1= Student("Alice","alice@abc.com",101)
student1.display_student_info()

Name:John, Email:john@abc.com
Roll No:101
Name:Alice, Email:alice@abc.com